---
layout: default
paginate: true
---
{% for post in paginator.posts %}


<div class="card mt-1">
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <div class="card-subtitle mb-2 text-muted">{{ post.date| date_to_string }}</div>
    <p class="card-text">{{ post.excerpt }}</p>
    <a href="{{ post.url }}" class="link-secondary">继续阅读</a>
  </div>
</div>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>